@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@300&family=Jua&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@200&display=swap');

body {
	font-family: 'Nanum Gothic Coding', monospace;
}

header {
	width: 100%;
	height: auto;
	background-color: #ffffff;
	display: flex;
	align-content: center;
}

hr {
	width: 1530px;
}

.navmenu {
	width: 100%;
	height: 150px;
	padding: 20px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 3;
}

li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.navmenu-left {
	width: 80%;
	padding-left: 50px;
}

.navmenu-right {
	width: 250px;
	margin: 0;
	padding-right: 50;
	display: flex;
	justify-content: center;
}

.login {
	display: flex;
	margin: 0;
	padding: 0;
	width: auto;
	align-items: center;
	float: right;
	color: red;
}

#btn1 {
	padding: 5px;
	color: gray;
}

#btn1:hover {
	font-weight: bold;
	color: gray;
}

.category {
	padding: 0px;
	width: 100%;
	font-family: 'IBM Plex Sans KR', sans-serif;
	background-color: #ffffff;
	z-index: 2;
	
}


.category-list {
	width: 1530px;
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	justify-content: center;
}

.btn2 {
	position: relative;
	margin: 0 100px;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	color: #3c3c3c;
	cursor: pointer;
}

.btn2:after {
	content: "";
	position: absolute;
	width: 75px;
	transform: translateX(-50%) scaleX(0);
	height: 2.5px;
	bottom: -5px;
	left: 50%;
	background-color: #474747;
	transition: transform 0.25s ease;
}

.btn2:hover:after {
	transform: translateX(-50%) scaleX(1);
	transform-origin: bottom;
}

section {
	width: 1530px;
	height: auto;
	background-color: #ffffff;
	padding-top: 0;
}

img {
	width: 100%;
	height: auto;
}

@keyframes motion{
	0% {margin-top: 0px;}
	100% {margin-top: 10px;}
	
}

.floatingBanner {
	width: 200px;
	top: 200px;
	left: 80%;
	right: 0;
	z-index: 2;
	position: fixed;
	animation: motion 0.3s linear 0s infinite alternate;
	
}

.carousel-inner {
	width: 100%;
	height: 500px;
}

.btn-main{
	width: 100%;
	height: 200px;
	margin: 100px 0px;
	padding: 0px;
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: 1;
	
}

.btn-item{
	width: 200px;
	height: 200px;
	padding: 0;
	margin-right: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;	
}
.btn-item:hover{
	border-bottom-style: dashed;
	border-bottom-color: #b4b4b4;
	border-width: 2px;
}
#order{
	color: #EB0000;	
}
#join{
	color: #0000FF;
}
#inquiry{
	color: #282828;
	margin-right: 0;
}
.btn-item p{
	font-size: 10pt;
	font-weight: 500;
	color: #969696;
}

.map-section{
	width: 1530px;
	background-color: #F7F7F7;
	display: flex;
}
.map {
	padding: 0;
	margin: 0;
	width: 50%;
	height: 500px;
	background-color: #F7F7F7;
	z-index: 1;
	
}
.folium-map{
	z-index: 1;
}
.map-inform{
	width: auto;
	height: auto;
	padding: 30px;
	margin: 0;
	font-family: 'IBM Plex Sans KR', sans-serif;
	
}
.store-search > p{
	font-size: 18pt; 
	font-weight: 600; 
	color: #424242; 
	padding: 0;
	margin: 0;
}
.storelist{
	width: 420px;
	height: auto;
	padding: 0;
	margin: 0;
	font-size: 12pt;
}
.store{
	width: auto;
	height: 140px;
	padding: 20px;
	background-color: #ffffff;
}
.adr-btn > a{
	background-color: #ffd7d7;
	padding: 10px 30px;
	font-weight: 300;
	font-family: 'Nanum Gothic Coding', monospace;
	
}
footer {
	width: 1530px;
	height: auto;
	padding-top: 30px;
	background-color: #ffffff;
	
}

.download-app{
	width: 1530px;
	height: 150px;
	padding-top: 0;
	margin: 0;
	background-color: #ffffff;
	clear: both;
	color: #000000;
	font-size: 13pt;
	display: flex;
	
}
.app-box{
	margin: 30px;
	padding: 10px;
	color: #000000;
	align-items: flex-start;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: #424242;
}
#app{
	color: #000000;
	font-size: 20pt;
}
.animated-text {
	font-size:35px;
	font-weight: 400;
	font-family: 'Gowun Dodum', sans-serif;
	color: #424242;
	position: relative;
	width: 1300px;
	padding-top: 50px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.animated-text .track {
	width: 1300px;
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marquee 15s linear infinite;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
/*@media (hover: hover) and (min-width: 700px){
.animated-text .content {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
    }
*/
.inform {
	width: 1530px;
	height: 150px;
	padding-top: 20px;
	margin: 0;
	color: #424242;
	background-color: #ffffff;
}

.container {
	width: 950px;
	height: auto;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}
.footerLogo{
	width: 300px;
	height: auto;
	font-size: 23pt;
	font-weight: bold;
	font-family: 'Noto Serif KR', serif;	display: flex;
	padding: 0;
	margin: 0;
	align-items: flex-start;
}
#map_481df0d1cbfe4f409885780076872d2a {
	width: 100.0%;
	height: 100.0%;
	left: 0.0%;
	top: 0.0%;
}

@media screen and (max-width: 750px) {
	.navmenu-right {
		flex-direction: column;
	}
}