@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@300&family=Jua&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@200&display=swap');

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'IBM Plex Sans KR', sans-serif;
	list-style: none;
	text-decoration: none;
	border-collapse: collapse;
}

section {
	width: 1530px;
	height: auto;
	background-color: #ffffff;
	padding: 0 50px;
}

.option{
	width: 47%;
	height: auto;
}
.image{
	width: 750px;
	height: auto;
	padding: 0;
	margin: 0;
	position: relative;
}
.pizzaimage{
	width: 750px;
	height: 650px;
	position: absolute;
}
.btns{
	display: flex;
	font-size: 10pt;
	
}
.topping-list{
	padding: 10px;
	border-style: dashed;
	outline-width: 2px;
	border-color: #000000;
	border-radius: 5px; 
}
.cheese{
	outline-style: hidden;
}
footer {
	width: 100%;
	background-color: #ffffff;
	align-content: center;
	padding-bottom: 50px;
}

span#totalPrice {
	font-size: 20pt;
	font-weight: bold;
}
span#total {
	font-size: 15pt;
}