@import
	url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Noto+Serif+KR:wght@200&display=swap')
	;

body {
	font-family: 'Nanum Gothic Coding', monospace;
}

header {
	width: 100%;
	height: auto;
	background-color: #ffffff;
	display: flex;
	align-content: center;
}
