html,body{ margin: 0;
		   padding: 0;
		   height: 100%;
		   font-family: 'Noto Sans KR', sans-serif;
		   list-style: none;
	       text-decoration: none;
	       border-collapse: collapse;

}
header{ width: 100%;
		height: 170px;
		background-color: #ffffff;
}
.left{ width: 100%;
	   height: 100px;
	   padding-left: 40px;
	   padding-top: 40px;
	  
}
.login{ display: flex;
		justify-content: flex-end; 
		text-decoration: none;
		padding-right: 50px;
		padding-top: 20px;
		list-style: none;
}
section{ width: 100%;
		 height: 500px;
		 background-color: #ffffff;
}
.carousel-inner{ width: 100%;
				 height: 500px;
				 }
footer{ width: 100%;
		height: 80%;
		background-color: #ffffff;
		align-content: center;
	
}
.top{ padding-top: 40px;
		width: auto;
		height: 90px;
		background-color: #ffffff;
}
.middle{ width: 100%;
		 height: 600px;
		 background-color: #ffffff;
}
.card-group{ width: 40%;
			 height: 100px;
			 padding-top: 50px;
}
.bottom{ width: 100%;
		 background-color: #6f0b0b;}
.contaner{ padding-top: 20px;
	
}